@font-face { font-family: "Courier New"; src: url(fonts/cour.ttf); }
@font-face { font-family: "Courier New Bold"; src: url(fonts/courbd.ttf); }
@font-face { font-family: "Courier New Italic"; src: url(fonts/couri.ttf); }
@font-face { font-family: "Courier New Bold Italic"; src: url(fonts/courbi.ttf); }

body
{
    margin-top: 4pt;
    margin-bottom: 4pt;
    margin-right: 15pt;
}
.cover
{
    margin-top: 2pt;
    margin-bottom: 2pt;
    text-align: center;
}
h1
{
    page-break-before: right;
    margin-top: 5pt;
    margin-bottom: 12pt;
    font-weight: bold;
}
h2
{
    page-break-before: right;
    margin-top: 7pt;
    margin-bottom: 25pt;
    font-weight: bold;
}
h3
{
    margin-top: 9pt;
    margin-bottom: 8pt;
    font-weight: bold;
}
h4
{
    margin-top: 9pt;
    margin-bottom: 6pt;
    font-weight: bold;
}
h5
{
    margin-top: 9pt;
    margin-bottom: 6pt;
    font-weight: bold;
}
h6
{
    margin-top: 9pt;
    margin-bottom: 6pt;
    font-weight: bold;
}
.publisher
{
    text-align: center;
    margin-top: 120pt;
    margin-bottom: 6pt;
}
.publishertext
{
    text-align: center;
    margin-top: 6pt;
    margin-bottom: 24pt;
}
.copy
{
    margin-top: 7pt;
    margin-bottom: 7pt;
    text-indent: 0.024pt;
}
.copy1
{
    margin-top: 7pt;
    margin-bottom: 7pt;
    margin-left: 13pt;
}
.dedication
{
    margin-top: 12pt;
    margin-bottom: 1.2pt;
    margin-left: 72pt;
    margin-right: 72pt;
    text-align: center;
}
p
{
    margin-top: 5pt;
    margin-bottom: 4pt;
    text-indent: .002pt;
}
.toc-preface
{
    margin-top: 6pt;
    margin-bottom: 6pt;
    margin-left: 8pt;
    text-indent: 0.024pt;
}
.toc-preface1
{
    margin-top: 6pt;
    margin-bottom: 18pt;
    margin-left: 8pt;
    text-indent: 0.024pt;
}
.toc-chapter
{
    margin-top: 10pt;
    margin-bottom: 10pt;
    text-indent: 0.024pt;
}
.toc-chapter1
{
    margin-top: 18pt;
    margin-bottom: 6pt;
    text-indent: 0.024pt;
}
.toc-section
{
    margin-top: 6pt;
    margin-bottom: 6pt;
    margin-left: 8pt;
    text-indent: 0.024pt;
}
.toc-section1
{
    margin-top: 6pt;
    margin-bottom: 6pt;
    margin-left: 26pt;
    text-indent: 0.024pt;
}
.toc-appendix
{
    margin-top: 10pt;
    margin-bottom: 10pt;
    text-indent: 0.024pt;
}
.toc-appendix1
{
    margin-top: 18pt;
    margin-bottom: 6pt;
    text-indent: 0.024pt;
}
.toc-index
{
    margin-top: 18pt;
    margin-bottom: 6pt;
    margin-left: 8pt;
    text-indent: 0.024pt;
}
.author
{
    text-align: center;
    font-weight: bold;
    margin-top: 52pt;
    margin-bottom: 75pt;
}
.blockquote
{
    margin-top: 16pt;
    margin-bottom: 6pt;
    text-indent: 0.024pt;
    text-align: center;
    font-style: italic;
}
.attribution
{
    font-style: bold;
    margin-top: 6pt;
    margin-bottom: 16pt;
    text-align: center;
}
.attribution1
{
    margin-top: 1.2pt;
    margin-bottom: 18pt;
    text-align: center;
}
em
{
    font-style: italic;
}
strong
{
    font-weight: bold;
}
code
{
    font-size: small;
}
small
{
    font-size: small;
}
.image
{
    margin-top: 5pt;
    margin-bottom: 5pt;
    text-align: center;
}
.mediaobject
{
    margin-top: 5pt;
    margin-bottom: 5pt;
    text-align: center;
}
.caption
{
    font-size: small;
    margin-top: 4pt;
    margin-bottom: 8pt;
    text-align: center;
}

.figure
{
    margin-top: 5pt;
    margin-bottom: 5pt;
    text-align: center;
}

..title
{
    margin-top: 12pt;
    margin-bottom: 6pt;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

..figure-contents
{
    font-size: small;
    margin-top: 4pt;
    margin-bottom: 8pt;
    text-align: center;
}

.table
{
    margin-top: 5pt;
    margin-bottom: 5pt;
    text-align: center;
}

..title
{
    margin-top: 12pt;
    margin-bottom: 6pt;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}
.example
{
    margin-top: 5pt;
    margin-bottom: 5pt;
}

..title
{
    margin-top: 12pt;
    margin-bottom: 6pt;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.note
{
    font-size: small;
    margin-top: 12pt;
    margin-bottom: 12pt;
    margin-left: 36pt;
    margin-right: 24pt;
    border-top: solid 1pt;
    border-bottom: solid 1pt;
    padding: 1pt 12pt 1pt 12pt;
}

.indenthanging
{
    margin-top: 4pt;
    margin-bottom: 4pt;
    margin-left: 12pt;
}
.indenthanging1
{
    margin-top: 4pt;
    margin-bottom: 4pt;
    margin-left: 32pt;
}
.indenthanging2
{
    margin-top: 4pt;
    margin-bottom: 4pt;
    margin-left: 52pt;
}
.indenthanging3
{
    margin-top: 4pt;
    margin-bottom: 4pt;
    margin-left: 72pt;
}
.indenthanging4
{
    margin-top: 4pt;
    margin-bottom: 4pt;
    margin-left: 48pt;
    text-indent: -48pt;
}
.indenthangingB
{
    margin-top: 4pt;
    margin-bottom: 4pt;
    margin-left: 16pt;
    text-indent: -6pt;
}
.indenthangingN
{
    margin-top: 4pt;
    margin-bottom: 4pt;
    margin-left: 18pt;
    text-indent: -9pt;
}
.indentpara
{
    margin-top: 3pt;
    margin-bottom: 3pt;
    margin-left: 18pt;
}
.programlisting
{
    font-family: "Courier New";
    font-size: small;
    margin-top: 6pt;
    margin-bottom: 6pt;
    margin-left: 12pt;
}
.programlisting1
{
    font-family: "Courier New";
    font-size: small;
    margin-top: 6pt;
    margin-bottom: 6pt;
    margin-left: 18pt;
}
.informaltable
{
    font-size: small;
    margin-top: 5pt;
    margin-bottom: 12pt;
    margin-left: 15pt;
    padding: 1pt 12pt 1pt 12pt;
}
.sidebar
{
    font-size: small;
    margin-top: 5pt;
    margin-bottom: 12pt;
    margin-left: 15pt;
    padding: 1pt 12pt 1pt 12pt;
    background-color: #e6e6e6;
}
..title
{
    margin-top: 12pt;
    margin-bottom: 6pt;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}
.right
{
    margin-top: 5pt;
    margin-bottom: 5pt;
    text-align: right;
}
.indexmain
{
    margin-top: 2pt;
    margin-bottom: 2pt;
}
.indexsub
{
    margin-top: 2pt;
    margin-bottom: 2pt;
    margin-left: 10pt;
    text-indent: .002pt;
}
.indexsubsub
{
    margin-top: 2pt;
    margin-bottom: 2pt;
    margin-left: 18pt;
    text-indent: .002pt;
}